torch==2.6.0
torchvision==0.21.0
segformer-pytorch==0.0.6
segment-anything==1.0
einops==0.8.1
transformers==4.52.4
huggingface-hub==0.33.0
safetensors==0.5.3
tokenizers==0.21.1
albumentations==2.0.8
albucore==0.0.24
numpy==2.2.4
pandas==2.3.0
opencv-python-headless==4.11.0.86
matplotlib==3.10.1
seaborn==0.13.2
scipy==1.15.3
tensorboard==2.19.0
torch-tb-profiler==0.4.3
tqdm==4.67.1
requests==2.32.4
PyYAML==6.0.2